.container {
  padding-top: 20px;
  width: 33.3%;
}

.value {
  display: inline-block;
  font-size: 13px;
  position: relative;
}

.icon {
  width: 20px;
}

.value {
  margin-left: 3px;
  top: -5px;
}
